---
title: Recipes
layout: layouts/home.njk
permalink: /recipe/
eleventyNavigation:
  key: Recipes
  order: 1
---

{% set postslist = collections.recipe %}
{% include "postslist.njk" %}

{# <div class="tags">
  {% include "tags-list.njk" %}
</div> #}
