---
import Ingredients from './Ingredients.astro';
import Tags from '../Tags.astro';

export interface Props {
	title: string;
	author: string;
	publishDate: string;
	heroImage: string;
	alt: string;
	ingredients: any;
	tags?: string[];
}

const { ingredients, title, author, publishDate, heroImage, alt, tags } = Astro.props;
---

<article>
	<main>
		<Ingredients ingredients={ingredients} />
		<h2>Methods</h2>
		<slot />
		{tags?.length > 0 && <Tags {tags} />}
	</main>
	<p>
		Since you've made it this far, <a href="" on-click="share">sharing</a> this article on your favorite social media network 
		would be highly appreciated 💖! For feedback, please 
		<a href="https://twitter.com/me_dantuck" target="_blank" rel="noopener">ping me on Twitter.</a>
	</p>
</article>