/* comfortaa-regular - greek_latin-ext_vietnamese_cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-regular.svg#Comfortaa') format('svg');
  /* Legacy iOS */
}

/* comfortaa-700 - greek_latin-ext_vietnamese_cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-700.woff') format('woff'),
    /* Modern Browsers */
    url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../../fonts/comfortaa-v28-greek_latin-ext_vietnamese_cyrillic-ext-700.svg#Comfortaa') format('svg');
  /* Legacy iOS */
}