---
import Tags from './Tags.astro';
import FeedbackLink from './FeedbackLink.astro';

export interface Props {
  tags?: string[];
}
const { tags } = Astro.props;
---

<article data-pagefind-body class="max-content py-6">
  <slot />
  {tags?.length > 0 && (
    <div data-pagefind-meta="tags">
      <Tags {tags} />
    </div>
  )}
  <FeedbackLink />
</article>
