---
// No props needed
---
<p class="mt-8 text-site-text/70 text-sm">
  For feedback, ping me on Mastodon
  <a href="https://fosstodon.org/@tuck" target="_blank" rel="noopener noreferrer">
    @tuck@fosstodon.org
  </a>.
</p>
