---
export interface Props {
  tags: string[];
}
const { tags } = Astro.props;
---

<ul class="flex flex-wrap gap-3 list-none p-0 mt-3">
  {tags?.map((tag) => (
    <li>
      <a href={`/tags/${tag}`} class="text-sm text-site-text/60 no-underline hover:text-orange">
        #{tag}
      </a>
    </li>
  ))}
</ul>
