---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.svelte';

export interface Props {
  title: string;
  description?: string;
  permalink?: string;
}

const {
  title,
  description = 'Professional resume of Daniel Tucker, Staff Software Engineer.',
  permalink = 'https://www.dantuck.com/resume/',
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} type="website" image="https://www.dantuck.com/og/default.png" />
  </head>
  <body class="bg-site-bg text-site-text font-sans">
    <Header client:load path={Astro.url.pathname} />
    <slot />
    <Footer client:load />
  </body>
</html>
